/*######### nav bar #########*/
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding:14px 16px;
    font-size: 27px;
}
* {
    margin: 0;
}
li a:hover {
    background-image: linear-gradient(#076Dff, #65a5ff);
}
li:last-child {
    border-right: none;
}

/*############### custom styles####################*/
    li.yoyo {
    display: none;
}

#third {
    background-image: linear-gradient(#0000CD, #4169E1);
    width: 100%;
    margin: 0;
    height: 500px;
    padding-top: 4%;
    padding-bottom: 4%;
}
img {
    display: block;
    margin: auto;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66;}
.col-12 {width: 100%;}

h2 {
    color: #fff;
    line-height: 70px;
    font-size: 30px;
}

input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

button {
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
button:hover {
    background-image: linear-gradient(#076Dff, #65a5ff);
}
.row {
      width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}

div.box {
    text-align: center;
    margin: auto;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
       }

div.icon {
    width: 100%;
}
h4 {
    color: #fff;
}
.forgotemail {
    color: #fff;
}
.forgotemail:hover {
    color: red;
}


/*############ media #############*/

@media screen and (max-width: 680px) {
     ul.top li:not(:nth-child(1)){
        display: none;
    }
    
    ul.top li.yoyo {
        color: #fff;
        display: block;
      float: right;
    }
    
    ul.top.responsive li.yoyo {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.top.responsive {
        position: relative;
    } 
    
    ul.top.responsive li {
        display: inline;
        float: none;
    }
    
    ul.top.responsive li a {
        display: block;
        text-align: left;
    }
    
    
    
    
    
    
}



















